# use glob syntax.
syntax: glob

*~
target
.cache
*.jar
.project
.classpath
.settings
.project

*.ser
*.class
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log
